*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

main,
nav,
section,
footer,
header,
aside,
article,
dialog,
figcaption,
figure,
hgroup {
  display: block;
}

ul,
dl {
  margin: 0;
  padding: 0;
  list-style: none;
}

ol {
  padding-left: 20px;
  font-size: 0.8em;
}

img {
  max-width: 100%;
  border: 0;
  vertical-align: top;
  user-select: none;
}

button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a:focus,
img:focus,
button:focus,
input:focus,
textarea:focus,
select:focus,
option:focus {
  outline: none;
}

b,
strong {
  font-weight: 600;
}

input,
textarea,
select,
button {
  font-family: var(--ff-main);
  font-weight: 400;
}

select::-ms-expand {
  display: none;
}

input::-webkit-input-placeholder {
  color: var(--bg-main);
}

input::-moz-input-placeholder {
  color: var(--bg-main);
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']:hover,
input[type='number']:focus {
  -moz-appearance: number-input;
}

input[type='submit'],
input[type='text'],
input[type='email'],
input[type='search'],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}
